header{width:100%;height:100px}header .company{text-align:center;display:inline-block}header .user{padding-right:20px;display:inline-block}header .logout{float:right;padding-right:20px;display:inline-block}header p{margin:0}.upload{border:solid 1px;position:absolute;bottom:0;width:97%}.accordian-content{display:none}.page{display:block}.pageTitle{padding:10px 0;display:block}.pageTitle a{color:black;text-decoration:none;font-size:22px}
.navigation {
		list-style: none;
		text-align: center;
		padding: 0;
		margin-top: 60px;
}
.navigation-tab {
	display: inline;
	margin-left: 40px;
}

.navigation-tab:first-child {
	border-bottom: solid 2px;
}

.header-information {
	list-style: none;
	padding: 0;
}

.header-information li {
	display: inline;
}

.header-information li:first-child {
	margin-left: 40px;
	float: left;
}

.header-information li:nth-child(2) {
	margin-left: 60px;
}

.header-information li:last-child {
	margin-right: 40px;
	float: right;
}

.search {
	padding: 100px 40px;
}


.upload {
	display: none;
}

.page {
	border: solid 1px;
	padding: 20px;
}

.accordian-content a {
	text-decoration: none;
	color: black;
}

.accordian-content div {
	padding: 10 0;
}

i {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	float: right;
}

.down-arrow {
	transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		margin-top: 3px;
}

.up-arrow {
	transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    display: none;
    margin-top: 6px;
}