<style type="text/css">
	.test-component {
		background-color: grey;
	}
	.test-component .h1 {
		color: yellow;
		text-align: center;
	}	
</style>
<section class="test-component">
	<h1>TESTTESTTEST</h1>
	<image src="http://placehold.it/150x150"></image>
	<span>Portland quinoa gochujang tofu, craft beer 3 wolf moon etsy hella 8-bit. VHS raw denim williamsburg roof party artisan. Letterpress kogi thundercats, offal pug asymmetrical blue bottle flexitarian vape four dollar toast craft beer portland artisan succulents.</span>
</section>